.main-container{
    .mat-card {
        width: 500px;
        margin: 15% auto;
        
        .register-button {
            margin-right: 8px;
        }
    }
}

.container .mat-form-field {
    margin: 0 auto;
    width: 100%;
}